@import "../../../utils/variables.scss";

.teacher-info {
    width: max-width;
    height: max-height;
    box-shadow: 2px 0px 12px $primary_brown;
    padding-left: 24px;
    padding-right: 16px;

    .teacher-info-header {
        background-color: $primary_white;
        display: flex;
        justify-content: start;
        padding-top: 25px;
        padding-left: 0px;

        button {
            border: none;
            padding-left: 0px;
        }
    }

    .title {
        display: inline;
        text-align: center;

        .avatar {
            margin-bottom: 25px;
            width: 80px;
            height: 80px;
        }

        .teacher-name {
            font-size: 22px;
            font-weight: 500;
            color: $primary_brown;
            margin-bottom: 7px;
        }

        .teacher-mail {
            font-size: 14px;
            color: $primary_black;
            font-weight: 400;
        }
    }

    .active-teacher {
        display: flex;
        justify-content: space-between;

        .active-icon {
            display: inline-block;
            width: 14px;
            height: 13px;
            background-size: cover;
        }

        .active {
            background-image: url(../assets/visibility-on.svg);
        }

        .inactive {
            background-image: url(../assets/visibility-off-white.svg);
        }

        .switch-active {
            width: 40px;
            padding-top: 2px;
        }

        .ant-switch-checked {
            background-color: $primary_brown;
        }

        .active-title {
            font-size: 18px;
            font-weight: 400;
            color: #616161;
        }
    }

    .rating {
        display: inline;
        text-align: center;
        padding: 0px 20px;

        .number-rate {
            font-size: 48px;
            font-weight: 700;
            color: $primary_brown;
            margin-bottom: 0px;
        }

        .progress {
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            span {
                margin-right: 10px;
            }

            .ant-progress-outer {
                width: 90%;
            }
        }

        .star-icon {
            display: inline-block;
            width: 14px;
            height: 13px;
            background-size: cover;
            background-image: url(../assets/star-grey.svg);
            margin-left: 3px;
        }

        .title-rate {
            display: flex;
            margin-bottom: 0px;
            align-items: center;
            font-size: 18px;
            letter-spacing: 0.18px;
            font-weight: 700;
            color: #616161;
        }
    }

    .courses {
        margin: 30px 0px;

        .course-head {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .course-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-size: cover;
                background-image: url(../assets/course.svg);
            }

            .course-title {
                font-size: 18px;
                color: $primary_brown;
                font-weight: 500;
                margin-left: 8px;
                margin-bottom: 0px;
            }
        }

        .course-wrapper {
            height: 45vh;
            overflow: auto;

            .course-name {
                background-color: $secondary_brown;
                margin: 10px 0px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                height: 70px;
                border: 1px solid $primary_brown;
                border-radius: 5px;

                p {
                    margin: 0;
                    color: $primary_black;
                }

                .course-code {
                    color: $primary_brown;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .course-fullname {
                    color: #212121;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

    }

    .modal {
        box-shadow: 0 3px 12px rgba(185, 117, 78, 0.3);
        border-radius: 5px;
        border: 1px solid $primary_brown;
        background-color: $primary_white;
        padding: 5px;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        top: 330px;

        .modal-bottom {
            display: flex;
            justify-content: space-between;

            .cancel {
                border: none;
                color: $primary_brown
            }

            .deactivate {
                border: none;
                background-color: $primary_brown;
                color: $primary_white;
            }
        }

        .title {
            color: $primary_brown;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
        }

        .content {
            color: #616161;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
        }
    }
}