@import "../../utils/variables.scss";

.faq-page {
    padding: 0 20px;

    .faq-page-header {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      padding-left: 0;
  
      .faq-page-name {
        color: $primary_blue;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.28px;
        margin: 0;
        padding-right: 20px;
      }

      .search {
        display: flex;
      }
    }

    .question-detai {
      .question-description{
        margin-bottom: 25px;
        h2 {
          font-size: 24px;
          font-weight: 600;
        }

        p {
          color: $primary_green;
          text-decoration: underline;
        }
      }

      .question-answer {
        padding: 28px 24px;
        background-color: $secondary_blue;
        border-top: 1px solid $primary_grey;
        border-bottom: 1px solid $primary_grey;

        .teacher-info {
          display: flex;
          margin-bottom: 12px;
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 16px;
          }

          .date {
            margin-left: auto;
          }

          span {
            color: $primary_black;
            font-weight: 600;
          }
        }
        
        .teacher-reply {
          margin: 0;
        }
      }

      
    }

    .question-wrapper {
      padding-left: 24px;
      .question {
        padding: 10px 16px;
        background-color: $secondary_blue;
        border-radius: 5px;
        border: 1px solid $primary_blue;
        margin-bottom: 20px;
        transition: .3s all;
        cursor: pointer;
        .code {
          color: $primary_blue;
          margin-bottom: 2px;
          transition: .3s all;
        }

        .content {
          font-weight: 600;
          padding: 0;
          margin: 0;
        }

        .date {
          font-size: 12px;
          text-align: right;
          margin: 0;
          margin-top: 5px;
        }

        &:hover {
          background-color: $primary_blue;
          color: #fff;
            .code {
              color: #fff;
            }
        }
      }


    }
}