@import "../../utils/variables.scss";

.addcourse-page {
  padding: 20px 20px 0 20px;


  .header-wrapper {
    background-color: white;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-back {
        display: flex;
        align-items: center;
      }

      .header-right {
        display: flex;

        .update-field {
          display: flex;
          align-items: center;
          margin-right: 10px;

          .text {
            &-success {
              margin-bottom: 0;
              color: green;
              margin-right: 10px;
            }

            &-fail {
              margin-bottom: 0;
              color: red;
              margin-right: 10px;
            }
          }

          .btn-update-course {
            background-color: $primary_purple;
            color: $primary_white;
            border: none;

            &:hover {
              background-color: $primary_white;
              border: 1px solid $primary_purple;
              color: $primary_purple;
            }
          }
        }
      }



      i {
        font-size: 20px;
        color: $primary_purple;
      }

      .p {
        font-size: 28px;
        text-align: center;
        margin: 10px 30px;
        color: $primary_purple;
      }
    }
  }

  .content-table {
    margin-top: 10px;

    .chosen {
      margin-top: 10px;

      .chosen-title {
        text-align: center;
      }

      .courses {

        .course-item {
          padding: 10px 16px;
          margin-bottom: 12px;
          border: 1px solid $primary_purple;
          background: $tertiary_purple;
          border-radius: 5px;

          span {
            display: block;
          }

          .course-code {
            color: $primary_purple;
          }

          svg {
            position: absolute;
            right: 16px;
            cursor: pointer;
          }
        }

      }


    }

    .chosen-other {

      //overide ANT table style 
      .ant-empty-normal {
        margin: 0;
      }

      .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
      .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
      .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
      .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
        background: $tertiary_purple;
      }


      //disable pagination
      .ant-table-pagination.ant-pagination {
        display: none;
      }

      .table-content {
        // background-color: $secondary_blue;
        font-size: 16px;
        color: #616161;
        padding-right: 25px;

        .active-row {
          background: $tertiary_purple;
        }

        thead th {
          padding: 12px;
          background-color: #fff;
          color: $secondary_grey;
        }

        tbody {

          td {
            cursor: pointer;
            padding: 12px;
            color: $primary_black;
          }
        }
      }

      .others {
        background-color: white;
      }

      .no-data {
        padding-left: 20px;
      }
    }
  }
}