@import "../../../utils/variables.scss";

.questions-information {
  margin: 20px 15px;

  .questions-info-header {
    background-color: #fff;

    .p {
      margin: 5px -20px;
      font-size: 28px;
      color: $primary_blue;
    }
  }

  .questions-info-body {
    .tutor {
      margin: 20px 15px;

      .p {
        font-size: 16px;
      }
    }

    .session {
      padding-top: 35px;
      margin: 10px 15px;

      .p {
        font-size: 16px;
      }

      .session-close {
        background-image: url(./assets/done-mark.svg);
        margin: 20px 10px;
        background-size: 15px 25px;
        background-repeat: no-repeat;
        font-size: 14px;
        border: none;

        p {
          margin: 0px 15px;
        }
      }
    }

    .settings {
      margin: 0px 15px;

      .p {
        font-size: 16px;
      }

      .settings-delete {
        background-image: url(./assets/delete.svg);
        color: red;
        margin: 20px 10px;
        background-size: 15px 25px;
        background-repeat: no-repeat;
        font-size: 14px;
        border: none;

        p {
          margin: 0px 15px;
        }
      }
    }
  }
}
