@import "../../utils/variables.scss";

.profile-page {
    padding: 28px 20px 0px 20px;

    .profile-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-page-name {
            color: $primary_blue;
            font-family: Roboto;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.24px;
            margin-bottom: 0px;
        }

        .profile-logout {
            width: 112px;
            height: 37px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 16px;
            }
        }
    }

    .profile-page-ava {
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .user-avatar {
            width: 160px;
            height: 160px;
            border-radius: 120px;
            margin-bottom: 30px;
        }
    }

    .profile-page-info {
        .profile-title {
            color: #616161;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.6px;
            line-height: 17px;
            text-transform: uppercase;
        }

        .profile-value {
            color: $primary_black;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 17px;
        }
    }

}