@import "../../utils/variables.scss";

.filter-wrap-btn {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-home-btn {
    background-color: $tertiary_purple;

    .filter-wrap-btn-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    .filter-wrap-btn-icon-course {
        background-image: url(assets/filter_course.svg);
    }

}

.filter-teacher-btn {
    background-color: $secondary_brown;

    .filter-wrap-btn-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    .filter-wrap-btn-icon-teacher {
        background-image: url(assets/filter_teacher.svg);
    }

}

.filter-ask-btn {
    background-color: $secondary_blue;

    .filter-wrap-btn-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    .filter-wrap-btn-icon-ask {
        background-image: url(assets/filter_ask.svg);
    }

}

.filter-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 10px;

    .icon-filter-active {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: cover;
        background-image: url(assets/visibility-on.svg);
    }

    p {
        margin-bottom: 0;
    }

    .filter-active-btn {
        border: none;

        &-chosen {
            background-color: $secondary_brown;
            color: #212121;
        }
    }
}

.filter-course {
    margin-bottom: 10px;

    .filter-course-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        .icon-filter-course {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-size: cover;
            background-image: url(assets/course.svg);
            margin-right: 14px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.filter-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 10px;

    .icon-filter-active {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: cover;
        background-image: url(assets/visibility-on.svg);
    }

    p {
        margin-bottom: 0;
    }

    .filter-status-btn {
        border: none;

        &-chosen {
            background-color: $secondary_blue;
            color: #212121;
        }
    }
}

#faq {
    width: 250px;

    .faq-tag {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-left: 5px;
        }
    }
}

.wrap {
    margin-top: 10px;
    padding: 0px 20px;

    .ant-layout-header {
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
        font-weight: bold;
    }

    .clearBtn {
        margin-top: 20px;
        width: 100%;
        height: 38px;
        border-radius: 5px;
        border: none;
    }

    .clearBtnHomeTheme {
        color: $primary_white;
        background-color: $primary_purple;

        &:hover {
            border: 1px solid $primary_purple;
            color: $primary_purple;
            background-color: $primary_white;
        }
    }

    .clearBtnTeacherTheme {
        color: $primary_white;
        background-color: $primary_brown;

        &:hover {
            border: 1px solid $primary_brown;
            color: $primary_brown;
            background-color: $primary_white;
        }
    }

    .clearBtnAskTheme {
        color: $primary_white;
        background-color: $primary_blue;

        &:hover {
            border: 1px solid $primary_blue;
            color: $primary_blue;
            background-color: $primary_white;
        }
    }

    .category {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin: 15px 0;
        color: $primary_black;
        border: none;
        box-shadow: none;
        padding-left: 0px;

        span {
            margin-left: 10px;
        }

        .icon {
            display: inline-block;
            width: 12px;
            height: 15px;
            background-size: cover;
        }

        .category-icon {
            background-image: url(assets/category.svg);
        }
    }

    .categoryHomeTheme {
        &:hover {
            color: $primary_purple;
        }

        .check-icon {
            background-image: url(assets/done.svg);
        }
    }
}