@import "../../utils/variables.scss";

.wrap {
    margin-top: 10px;
    background-color: "#fff";

    .ant-layout-header {
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
        font-weight: bold;
    }

    .clearFilter {
        margin-top: 20px;
        width: 224px;
        height: 38px;
        border-radius: 5px;
        color: $primary_white;
        background-color: $primary_purple;
        border: none;

        &:hover {
            border: 1px solid $primary_purple;
            color: $primary_purple;
            background-color: $primary_white;
        }
    }

    .category {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin: 30px 0px 30px 5px;
        color: $primary_black;
        border: none;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: $primary_purple;
        }

        .icon {
            display: inline-block;
            width: 12px;
            height: 15px;
            background-size: cover;
        }

        .category-icon {
            background-image: url(assets/category.svg);
        }

        .check-icon {
            background-image: url(assets/done.svg);
        }
    }
}