@import "../../utils/variables.scss";

.category {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 30px 5px;
    color: $primary_black;
    border: none;

    span {
        margin-left: 10px;
    }
}

.wrap {
    margin-top: 10px;
    background-color: "#fff";

    .ant-layout-header {
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
        font-weight: bold;
    }

    .addDepartment {
        margin-top: 20px;
        width: 224px;
        height: 38px;
        border-radius: 5px;

        ::placeholder {
            width: 130px;
            height: 18px;
            color: $primary_purple;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            margin-left: 10px;
        }

        .ant-input {
            background-color: $tertiary_purple;
            border: none;
        }
    }
}