.message {
    border-bottom: 1px solid #DBE1E6;
    padding-bottom: 15px;
    &__userInfo {
        display: flex;
        margin-bottom: 5px;
       img {
           width: 36px;
           height: 36px;
           margin-right: 13px;
       }
       
       h5 {
            margin: 0;
       }

       p {
           font-size: 12px;
       }

       .time {
            margin-left: auto;
            margin-top: 10px;
        }
    }

    
}