@import "../../../utils/variables.scss";

.course-information {

  input {
    border: none;
  }

  border-left-width: thin;
  box-shadow: -5px 0 5px -5px $primary_purple;
  border: none;
  height: 110vh;

  .course-info-header {
    background-color: white;

    .p {
      margin: 15px -25px;
      color: $primary_purple;
      font-size: 28px;
    }
  }

  .course-info-body {
    .course-name {
      padding: 25px 20px;

      .p {
        font-size: 22px;
        font-weight: bold;
        border: none;
      }
    }

    .course-code {
      .p1 {
        padding: 24px 8px;
        font-size: 16px;
      }

      .course-code-input {
        margin: 18px 20px;
        padding-left: 20px;
        background-image: url(assets/course-code.svg);
        background-size: 15px 30px;
        background-repeat: no-repeat;
        word-wrap: initial;
      }
    }

    .department {
      .p2 {
        padding: 24px 8px;
        font-size: 16px;
      }

      .department-input {
        margin: 18px 20px;
        padding-left: 20px;
        background-image: url(assets/category.svg);
        background-size: 15px 35px;
        background-repeat: no-repeat;
      }
    }

    .short-des {
      .p3 {
        padding: 24px 8px;
        font-size: 16px;
      }

      .short-des-input {
        margin: 16px 0px;
        padding-left: 20px;
        font-size: 16px;
      }
    }

    .full-des {
      .p4 {
        padding: 24px 8px;
        font-size: 16px;
      }

      .full-des-input {
        margin: 16px 0px;
        padding-left: 20px;
        font-size: 16px;
      }
    }
  }
}
