@import "../../utils/variables.scss";

.compose {
  .compose-information {
    background-color: #fff;
    padding: 28px 0px 0px 20px;

    .compose-header {
      padding: 0;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 20px;
        color: $primary_blue;
      }

      .ask-action {
        display: flex;

        .icon {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-size: cover;
          margin-left: 10px;
        }

        .notification {
          opacity: 0;
          transition: opacity 1s ease-in-out;
        }

        .notification-show {
          opacity: 1;
          transition: opacity 1s ease-in-out;
        }

        .accept-icon {
          background-image: url(assets/accept.svg);
        }

        .noti-content-success {
          width: 250px;
          height: 39px;
          background-color: honeydew;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px;

          p {
            padding: 0px;
            margin-left: 20px;
            margin-bottom: 0px;
          }
        }

        .ask-action-pin {
          margin: 0 10px;
          color: $primary_blue;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.14px;
          line-height: 17px;
          background-color: #f2faff;
          border: none;
          height: 37px;

          .ask-pin {
            background-image: url(assets/add-pin.svg);
          }
        }

        .ask-action-close {
          margin: 0 10px;
          color: red;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.14px;
          line-height: 17px;
          background-color: #ffe7e6;
          border: none;
          height: 37px;

          .ask-close {
            background-image: url(assets/lock.svg);
          }
        }

        .ask-action-cancel-pin {
          margin: 0 10px;
          color: red;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.14px;
          line-height: 17px;
          background-color: #ffe7e6;
          border: none;
          height: 37px;

          .ask-cancel-pin {
            background-image: url(assets/cancel-pin.svg);
          }
        }
      }

    }

    .spin-wrapper {
      display: flex;
      justify-content: center;
    }

    .compose-body {
      height: calc(100vh - 110px);

      .commentWrapper {
        max-height: calc(100vh - 350px);
        overflow: auto;

        .faq-radio-group {
          width: 100%;
        }
      }

      .compose-question {
        font-size: 24px;
        font-weight: 300;
        color: $primary_black;
        width: 100%;
        margin-bottom: 25px;
      }

      .reply {
        position: absolute;
        bottom: 0px;
        // box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border: 1px solid $primary_grey;
        border-radius: 5px;
        width: 100%;
      }

      .reply-hide {
        height: 62px;
      }

      .reply-show {
        height: 158px;
      }

      .reply-field {
        display: flex;
        justify-content: space-between;
        padding-top: 2px;

        .reply-text {
          resize: none;
          width: 85%;
          height: 150px;
          overflow: auto;
          border-right: 1px solid $primary_grey;

          p>img {
            width: 300px;
            height: 200px;
          }
        }

        .reply-icon {
          display: inline-block;
          width: 17px;
          height: 17px;
          background-size: cover;
          margin-left: 5px;
        }

        .arrow-down {
          background-image: url(assets/dropdown.svg);
        }

        .arrow-up {
          background-image: url(assets/arrow.svg);
        }

        .send {
          background-image: url(assets/send.svg);
        }

        .reply-btn {
          border: none;
          color: $primary_blue;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.8px;
          line-height: 17px;
          display: flex;
          justify-content: space-around;
          cursor: pointer;
        }

        .reply-btn-field {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px;

          .reply-send {
            width: 97px;
            height: 38px;
            box-shadow: 0 3px 6px rgba(72, 198, 255, 0.3);
            border-radius: 5px;
            background-color: $primary_blue;
            color: $primary_white;
            display: flex;
            justify-content: space-around;
            cursor: pointer;
          }
        }
      }
    }
  }
}