@import '../../utils/variables.scss';

.highlight-folder-page {

    .highlight-folder-page-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .highlight-page-name {
            color: $highlight_green;
            font-family: Roboto;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.28px;
            margin: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }

        .sync-icon {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-size: cover;
            background-image: url(assets/sync.png);
        }

        .btn-sync {
            border: none;
            box-shadow: none;
            padding: 0;
        }
    }

    .loading-field {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .highlight-header-side {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-delete-folder {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .folder-delete-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-size: cover;
                background-image: url(assets/delete.svg);
            }
        }
    }

    .highlight-side-wrapper {
        position: absolute;
        right: 0;
        height: 50vh;

        .highlight-side {
            padding: 0px 30px;
            // -webkit-box-shadow: -3px 0px 6px 0px rgba(83,219,177,.5);
            // -moz-box-shadow: -3px 0px 6px 0px rgba(83,219,177,.5);
            // box-shadow: -3px 0px 6px 0px rgba(83,219,177,.5);

            .sort {
                margin-bottom: 26px;

                p {
                    color: #212121;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                }

                .btn-sort {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    border: none;
                    box-shadow: none;

                    span {
                        color: #616161;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0.14px;
                        line-height: 17px;
                    }
                }

                .sortByColor {
                    display: flex;
                    justify-content: space-around;

                    .sortButton {
                        opacity: .4;
                        border: none;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .btn-clear-filter {
                    background-color: $primary_green;
                    color: $primary_white;
                    margin-top: 20px;

                    &:hover {
                        border: 1px solid $primary_green;
                        color: $primary_green;
                        background-color: $primary_white;
                    }
                }
            }
        }
    }

    .notification {
        position: fixed;
        left: 100px;
        bottom: 10px;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .notification-show {
        position: fixed;
        left: 100px;
        bottom: 10px;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    .noti-content-success {
        width: 250px;
        height: 50px;
        background-color: honeydew;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;

        p {
            padding: 0px;
            margin-left: 20px;
            margin-bottom: 0px;
        }
    }

    .icon-noti {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .accept-icon {
        background-image: url(assets/accept.svg);
    }
}

#delete-popover {
    width: 300px;

    .ant-popover-title {
        font-size: 18px;
    }

    #delete-modal {

        .delete-modal-footer {
            padding: 0;
            background-color: $primary_white;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}