$primary_purple: #9C4AEE;
$secondary_purple: #E7CCFF;
$tertiary_purple: #f9f2ff;
$primary_grey: #e0e0d1;
$primary_black: #212121;
$primary_white: #fff;
$primary_brown: #b9754e;
$secondary_brown: #fff7f2;
$secondary_grey:#616161;
$primary_blue: #1593e6;
$secondary_blue: #f2faff;
$primary_yellow: #ffc143;
$secondary_yellow: #ffefcc;
$tertiary_yellow: #fffbf2;;
$primary_green: #40a887;
$secondary_green: #f2fffb;
$primary_darkblue: #4b36de;
$secondary_darkblue: #e9e6ff;
$primary_orange: #E96230;

//colours for highlight
$highlight_green : #53DBB1;
$highlight_red: #FF7DB9;
$highlight_blue: #48C6FF;
$highlight_yellow: #FFF83E;
$highlight_orange : #FFC143;
