@import '../../utils/variables.scss';

.logo {
    height: 40px;
    margin: 10px;

    img {
        height: 40px;
        width: 100%;
    }
}

.ant-menu-item {
    display: flex;
    justify-content: flex-start;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $primary_white;
}

.ant-menu-item-selected {
    a,
    a:hover {
        color: $primary_purple;
    }
}

.ant-menu-item-active {
    a:hover {
        color: $primary_purple;
    }
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon,
.ant-menu-item .anticon {
    font-size: 30px;
}

.ant-menu-inline-collapsed {
    .ant-menu-item {
        display: flex;
        justify-content: center;
    }
}

.ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-item {
    height: 70px;
}

.ant-menu-vertical, .ant-menu-inline-collapsed {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}