@import '../../utils/variables.scss';

#sideMenu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 69px;
    margin: 20px 10px 55px;

    img {
        height: 69px;
        width: 60px;
    }
}

.ant-menu-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $primary_white;
}

.ant-menu-item-selected {

    a,
    a:hover {
        color: $primary_purple;
    }
}

.ant-menu-item-active {
    a:hover {
        color: $primary_purple;
    }
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon,
.ant-menu-item .anticon {
    font-size: 30px;
}

.ant-menu-inline-collapsed {
    .ant-menu-item {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
}

.ant-menu-inline>.ant-menu-item,
.ant-menu-vertical>.ant-menu-item {
    height: 70px;
}

.menu-icon {
    display: inline-block;
    width: 29px;
    height: 25px;
    background-size: cover;
}

.course {
    background-image: url("assets/course.svg");
}

.course-active {
    background-image: url("assets/course_active.svg");

}

.teacher {
    background-image: url("assets/teacher.svg");
}

.teacher-active {
    background-image: url("assets/teacher_active.svg");
}

.dashboard {
    background-image: url("assets/dashboard.svg");
}

.dashboard-active {
    background-image: url("assets/dashboard_active.svg");
}

.note {
    background-image: url("assets/note.svg");
}

.note-active {
    background-image: url("assets/note_active.svg");
}

.ask {
    background-image: url("assets/ask.svg");
}

.ask-active {
    background-image: url("assets/ask_active.svg");
}

.highlight {
    background-image: url("assets/highlight.svg");
}

.highlight-active {
    background-image: url("assets/highlight_active.svg");
}

.btn-logout {
    border: none;
    width: 100%;
    padding: 0;
    img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}

.department {
    background-image: url("assets/dashboard.svg");
}

.department-active {
    background-image: url("assets/dashboard_active.svg");
}