@import "../../utils/variables.scss";

.teacher-page {
    position: fixed;
    width: 72%;
}

.ant-table-wrapper {
    margin: 8px 50px 8px 8px;

    td {
        font-size: 15px;
    }

    .ant-table-thead>tr>th {
        background-color: $primary_white;
        color: #616161;
    }

    .ant-table-row {
        cursor: pointer;
        color: #212121;
    }

    .ant-table-pagination.ant-pagination {
        float: none;
        display: flex;
        justify-content: center;
    }

    .active-row {
        background-color: $secondary_brown;
    }
}

.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: cover;
}

.star-icon {
    background-image: url(assets/star.svg);
    margin-left: 8px;
}

.inactive-icon {
    background-image: url(assets/visibility-off.svg);
}