@import "../../utils/variables.scss";

.addTeacher {
  padding: 20px 20px 0 20px;

  .header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    .header-back {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        color: $primary_purple;
      }

      .p {
        font-size: 28px;
        text-align: center;
        margin: 10px 30px;
        color: $primary_purple;
      }
    }

    .search-teacher {
      background-color: $secondary_purple;
      margin-top: 10px;
      width: 908px;
      height: 38px;
      border-radius: 5px;

      input {
        border: none;
        background-color: $tertiary_purple;

        &::placeholder {
          color: $primary_purple;
          opacity: 1;
        }
      }
    }
  }
}

.content-table {
  margin-top: 10px;

  .chosen-title-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    padding-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: none;

    h3 {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1.6px;
      line-height: 17px;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .active-row {
    background: $tertiary_purple;
  }

  .chosen {
    margin-top: 10px;

    .chosen-title {
      text-align: center;
    }

    .courses {

      .course-item {
        padding: 10px 16px;
        margin-bottom: 12px;
        border: 1px solid $primary_purple;
        background: $tertiary_purple;
        border-radius: 5px;

        span {
          display: block;
        }

        .course-code {
          display: flex;
          align-items: center;
          color: $primary_purple;

          img {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

        svg {
          position: absolute;
          right: 16px;
          cursor: pointer;
        }
      }

    }


  }


  .table-wrapper {

    //overide ANT table style 
    .ant-empty-normal {
      margin: 0;
    }

    .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
    .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
    .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
    .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
      background: $tertiary_purple;
    }


    //disable pagination
    .ant-table-pagination.ant-pagination {
      display: none;
    }

    .table-content {
      // background-color: $secondary_blue;
      font-size: 16px;
      color: #616161;
      padding-right: 25px;

      thead th {
        padding: 10px;
        background-color: #fff;
        color: $secondary_grey;
      }

      tbody {

        td {
          cursor: pointer;
          padding: 10px;
          color: $primary_black;
        }



      }
    }

    .others {
      background-color: white;
    }

    .no-data {
      padding-left: 20px;
    }
  }
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: cover;
}

.star-icon {
  background-image: url(assets/star.svg);
  margin-left: 8px;
}

.ant-table-pagination.ant-pagination {
  float: none;
  display: flex;
  justify-content: center;

}