@import "../../utils/variables.scss";

body {
  background-color: white;
}

.addTeacher {
  

  .header {
    background-color: white;

    .header1 {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        color: $primary_purple;
      }

      .p {
        font-size: 28px;
        text-align: center;
        margin: 10px 30px;
        color: $primary_purple;
      }
    }

    .search-teacher {
      background-color: $secondary_purple;
      margin-top: 10px;
      width: 908px;
      height: 38px;
      border-radius: 5px;

      input {
        border: none;
        background-color: $tertiary_purple;

        &::placeholder {
          color: $primary_purple;
          opacity: 1;
        }
      }
    }
  }
}

.content-table {
  .chosen {
    .ant-table-pagination.ant-pagination {
      display: none;
    }

    .chosen-teacher {
      display: flex;
      font-size: 16px;
      margin-left: 20px;
      margin-top: 22px;
      margin-bottom: 10px;

      i {
        padding: 5px 10px;
      }
    }

    .table-content {
      background-color: $tertiary_purple;
    }
  }

  .chosen-other {
    margin-top: 22px;

    .chosen-other-teacher {
      display: flex;
      font-size: 16px;
      margin-left: 20px;
      margin-top: 22px;
      margin-bottom: 10px;

      i {
        padding: 5px 10px;
      }
    }

    .table-content-non {
      background-color: white;
      font-size: 16px;
      color: #616161;

      &:hover {
        background-color: $tertiary_purple;
      }
    }

    .table-content-non thead th {
      background-color: white;
      color: $secondary_grey;
    }

    .table-content-non tbody td {
      color: #212121;
    }
  }
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: cover;
}

.star-icon {
  background-image: url(assets/star.svg);
  margin-left: 8px;
}

.ant-table-pagination.ant-pagination {
  float: none;
  display: flex;
  justify-content: center;

}
