@import "../../utils/variables.scss";

.compose {
  .compose-information {
    background-color: #fff;
    padding: 28px 0px 0px 20px;

    .compose-header {
      padding: 0;
      background-color: white;

      i {
        font-size: 20px;
        color: $primary_blue;
      }

    }

    .compose-body {
      .compose-question {
        font-size: 24px;
        font-weight: 300;
        color: $primary_black;
        width: 100%;
        margin-bottom: 25px;
      }

      .reply {
        position: fixed;
        bottom: 0px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
        width: 71.5%;
      }

      .reply-hide {
        height: 62px;
      }

      .reply-show {
        height: 158px;
      }

      .reply-field {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;

        .reply-text {
          width: 85%;
        }

        .reply-icon {
          display: inline-block;
          width: 17px;
          height: 17px;
          background-size: cover;
          margin-left: 5px;
        }

        .arrow-down {
          background-image: url(assets/dropdown.svg);
        }

        .arrow-up {
          background-image: url(assets/arrow.svg);
        }

        .send {
          background-image: url(assets/send.svg);
        }

        .reply-btn {
          border: none;
          color: $primary_blue;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.8px;
          line-height: 17px;
          display: flex;
          justify-content: space-around;
        }

        .reply-btn-field {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .reply-send {
            width: 97px;
            height: 38px;
            box-shadow: 0 3px 6px rgba(72, 198, 255, 0.3);
            border-radius: 5px;
            background-color: $primary_blue;
            color: $primary_white;
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
}