@import "../../utils/variables.scss";

.compose {
  .compose-information {
    background-color: #fff;
    padding: 28px 0px 0px 20px;

    .compose-header {
      padding: 0;
      background-color: white;

      i {
        font-size: 20px;
        color: $primary_blue;
      }

    }

    .spin-wrapper {
      display: flex;
      justify-content: center;
    }

    .compose-body {
      height: calc(100vh - 110px);



      .commentWrapper {
        max-height: calc(100vh - 350px);
        overflow: auto;

        &-close {
          max-height: calc(100vh - 200px);
          overflow: auto;
        }
      }

      .reply {
        position: absolute;
        bottom: 0px;
        // box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border: 1px solid $primary_grey;
        border-radius: 5px;
        width: 100%;
      }

      .reply-hide {
        height: 62px;
      }

      .reply-show {
        height: 158px;
      }

      .reply-field {
        display: flex;
        justify-content: space-between;
        padding-top: 2px;

        .reply-text {
          resize: none;
          width: 85%;
          height: 150px;
          overflow: auto;
          border-right: 1px solid $primary_grey;

          p>img {
            display: block;
            width: 300px;
            height: 200px;
          }
        }

        .reply-icon {
          display: inline-block;
          width: 17px;
          height: 17px;
          background-size: cover;
          margin-left: 5px;
        }

        .arrow-down {
          background-image: url(assets/dropdown.svg);
        }

        .arrow-up {
          background-image: url(assets/arrow.svg);
        }

        .send {
          background-image: url(assets/send.svg);
        }

        .reply-btn {
          border: none;
          color: $primary_blue;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.8px;
          line-height: 17px;
          display: flex;
          justify-content: space-around;
          cursor: pointer;
          margin-top: 10px;
        }

        .reply-btn-field {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px;

          .reply-send {
            width: 97px;
            height: 38px;
            box-shadow: 0 3px 6px rgba(72, 198, 255, 0.3);
            border-radius: 5px;
            background-color: $primary_blue;
            color: $primary_white;
            display: flex;
            justify-content: space-around;
            cursor: pointer;
          }
        }
      }
    }
  }

  .compose-question {
    font-weight: 300;
    color: $primary_black;
    margin-bottom: 25px;
    height: 90vh;

    .notification {
      position: absolute;
      right: 10px;
      bottom: 0px;
      opacity: 0;
      transition: bottom 1s, opacity .25s ease-in-out;
    }

    .notification-show {
      position: absolute;
      right: 10px;
      bottom: 20px;
      opacity: 1;
      transition: bottom 1s, opacity .25s ease-in-out;
    }

    .noti-content-success {
      width: 250px;
      height: 50px;
      background-color: honeydew;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;

      p {
        padding: 0px;
        margin-left: 20px;
        margin-bottom: 0px;
      }
    }

    .icon-noti {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-size: cover;
    }

    .accept-icon {
      background-image: url(assets/accept.svg);
    }

    .deny-icon {
      background-image: url(assets/deny.svg);
    }
  }
}