@import "../../../utils/variables.scss";

.note-wrapper {
    width: 300px;
    height: max-content;
    background-color: $secondary_yellow;
    padding-top: 19px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: left;

    .note-title {
        color: #616161;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.22px;
        line-height: 17px;
    }

    .note-content {
        color: #616161;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        -webkit-line-clamp: 13;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
    }
}