@import "../../../utils/variables.scss";

.note-wrapper {
    width: 300px;
    height: max-content;
    background-color: $secondary_yellow;
    border: 1px solid $primary_yellow;
    padding: 19px 18px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;

    .note-btn {
        text-align: left;
        cursor: pointer;
        outline: none;
        width: 100%;

        .note-title {
            color: #616161;
            height: 24px;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.22px;
            line-height: 24px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        // scan
        .note-scanContent {
            text-decoration: underline;
            color: $primary_green;

            p {
                color: $primary_green
            }
        }

        .note-content {
            height: fit-content;
            overflow: hidden;
            max-height: 100px;

            p {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                display: -webkit-box;
                margin-bottom: 0px;
            }

            img {
                width: 100%;
                height: 100px;
            }
        }
    }

    .note-delete {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background-color: red;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -10px;
        right: -15px;
        outline: none;

        .note-delete-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: cover;
            background-image: url(../assets/delete.svg);
        }

        .ant-sping-spinning {
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }

    &:hover {
        .note-delete {
            display: flex;
        }
    }
}