@import "../../../utils/variables.scss";

.questions-information {
  margin: 20px 15px;

  .questions-info-header {
    background-color: #fff;

    .p {
      margin: 5px -20px;
      font-size: 28px;
      color: $primary_blue;
    }
  }

  .questions-info-body {
    .tutor {
      margin: 20px 15px;

      .p {
        font-size: 16px;
      }

      .tutor-field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;

        .tutor-avatar {
          width: 24px;
          height: 24px;
        }

        .tutor-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 10px;

          .tutor-name {
            color: #212121;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.14px;
            line-height: 17px;
          }

          .tutor-mail {
            color: #212121;
            font-family: Roboto;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0.1px;
            line-height: 17px;
          }
        }
      }
    }

    .session {
      margin: 20px 15px;

      .p {
        font-size: 16px;
      }

      .session-close {
        background-image: url(../assets/done-mark.svg);
        margin: 10px 10px;
        background-size: 15px 25px;
        background-repeat: no-repeat;
        font-size: 14px;
        border: none;
        box-shadow: none;
        color: $primary_black;

        p {
          margin: 0px 15px;
        }
      }

      .p-close {
        color: $primary_blue;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
        line-height: 17px;
        display: flex;
        margin: 10px 10px;

        .session-close-icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          background-size: cover;
          margin-right: 5px;
          background-image: url(../assets/done-mark-closed.svg);
        }
      }
    }

    .rate {
      margin: 20px 15px;

      .p {
        font-size: 16px;
      }

      .rate-field {
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }

    .settings {
      margin: 20px 15px;

      .p {
        font-size: 16px;
      }

      .settings-delete {
        background-image: url(../assets/delete.svg);
        color: red;
        margin: 20px 10px;
        background-size: 15px 25px;
        background-repeat: no-repeat;
        font-size: 14px;
        border: none;
        box-shadow: none;

        p {
          margin: 0px 15px;
        }
      }

      .setting-modal {
        box-shadow: 0 3px 12px rgba(185, 117, 78, 0.3);
        border-radius: 5px;
        border: 1px solid $primary_blue;
        background-color: $primary_white;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        top: 330px;
        height: 100px;

        .setting-modal-header {
          background-color: $primary_blue;
          color: $primary_white;
          padding: 10px 5px;

          p {
            padding: 0;
            margin: 0;
          }
        }

        .setting-modal-footer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-top: 25px;

          .setting-modal-yes {
            background-color: $primary_blue;
            color: $primary_white;
            margin: 0px 10px;
            border-radius: 5px;
          }

          .setting-modal-no {
            border: 1px solid $primary_blue;
            background-color: $primary_white;
            color: $primary_blue;
            margin: 0px 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}