@import '../../utils/variables.scss';

.search {
    width: 500px;
    height: 54px;
    margin: 20px 0px;

    input {
        height: 50px;
        border: 1px solid $primary_purple;
        background-color: $tertiary_purple;
        border-radius: 5px;
        color: $primary_purple;
        padding-left: 20px;
        font-size: 15px;
        box-shadow: 1px 1px 1px 1px $primary_grey;
    }

    input::placeholder {
        color: $primary_purple;
        width: 185px;
        height: 21px;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.17px;
        line-height: 17px;
        color: $primary_purple;
    }

    .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 40px;
    }
}