@import "../../utils/variables.scss";


.ant-select-dropdown-menu-item {
    display: flex;
    align-items: center;

    .ant-empty {
        margin: 0 auto;
    }
    .avatar {
        border-radius: 50% !important;
        width: 26px !important;
        margin-right: 10px;
    }

    .courseCode {
        color: $primary_purple;
        font-weight: 600;
        margin-right: 5px;
    }

    .teacherName {
        font-weight: 600;
        color: $primary_blue;
        margin-right: 5px;
    }
}

.create-ask {
    background-color: #fff;
    padding: 28px 40px 0px 20px;



    .create-ask-header {
        padding: 0;
        background-color: white;
        display: flex;
        align-items: center;

        i {
            font-size: 20px;
            color: $primary_blue;
        }

        .ask-page-name {
            color: $primary_blue;
            font-family: Roboto;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.28px;
            margin: 0;
            margin-left: 16px;
            padding-right: 20px;
        }
    }

    .create-ask-body {
        margin-top: 25px;
        padding: 0;

        .label {
            font-size: 16px;
        }

        .selectCourse {
            .ant-select-selection {
                background: url('./assets/course.svg') no-repeat;
                background-size: 16px;
                background-position: left; 
                background-position-x: 12px;
                padding-left: 30px;
            }
        }

        .selectTeacher {
            .ant-select-selection {
                background: url('./assets/teacher.svg') no-repeat;
                background-size: 16px;
                background-position: left; 
                background-position-x: 12px;
                padding-left: 30px;
            }
        }

        .description {
            margin-top: 30px;

            .input-ques-content {
                margin-top: 16px;
                height: 250px;

                .ql-toolbar.ql-snow {
                    border-radius: 5px;
                }

                .ql-container.ql-snow {
                    border-radius: 0 0 5px 5px;
                }
            }
        }

        .input-ques-to {
            height: 30px;
            opacity: 0.4;
            color: #616161;
            font-family: Roboto;
            font-size: 28px;
            border: none;
            padding-left: 0px;
        }

        .ask-ques {
            margin-top: 30px;

            .input-ask-ques {
                margin-top: 16px;
            }
        }

    }

    .create-ask-footer {
        position: relative;
        margin: 50px 0 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $primary_white;

        .btn-send {
            width: 155px;
            height: 38px;
            box-shadow: 0 3px 6px rgba(72, 198, 255, 0.3);
            color: #fff;
            border-radius: 5px;
            background-color: $primary_blue;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .btn-send-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-size: cover;
                background-image: url(assets/send.svg);
                margin-left: 10px;
            }
        }

        .notification {
            position: absolute;
            left: 0px;
            bottom: 0px;
            opacity: 0;
            transition: bottom 1s, opacity .25s ease-in-out;
        }

        .notification-show {
            position: absolute;
            left: 0px;
            bottom: 20px;
            opacity: 1;
            transition: bottom 1s, opacity .25s ease-in-out;
        }

        .noti-content-error {
            width: 300px;
            height: 50px;
            color: #fff;
            background-color: #fa9d9d;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;

            p {
                padding: 0px;
                margin-left: 20px;
                margin-bottom: 0px;
            }
        }

        .icon-noti {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-size: cover;
        }

        .accept-icon {
            background-image: url(assets/accept.svg);
        }

        .deny-icon {
            background-image: url(assets/deny.svg);
        }
    }
}

.input-ques-content {
    p>img {
        width: 500px;
        height: 300px;
    }
}

.ant-select-selection-selected-value {
    img {
        width: 24px;
        border-radius: 12px;
        margin-right: 20px;
    }
}