@import "../../utils/variables.scss";

.wrapper {
    background-color: $tertiary_purple;
    padding: 16px;
    margin: 20px 0px;
    a {
        color: $primary_black;
    }
}

.name {
    font-weight: bold;
    /* font-size: 2vw; */
}
