body {
  background-color: white; }

.addCourse {
  padding: 28px 20px; }
  .addCourse .header {
    padding: 0;
    background-color: white; }
    .addCourse .header i {
      font-size: 20px;
      color: #9C4AEE; }
  .addCourse .content {
    margin-right: 34px; }
    .addCourse .content .row {
      margin-top: 27px; }
    .addCourse .content .courseName {
      font-size: 32px;
      font-weight: 300;
      color: #212121;
      width: 100%;
      margin-bottom: 18px; }
      .addCourse .content .courseName::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #C0C0C0;
        opacity: 1;
        /* Firefox */ }
    .addCourse .content .courseCode {
      padding-right: 24px; }
    .addCourse .content label span {
      color: #F23232;
      font-size: 16px; }
    .addCourse .content .belowLabel {
      margin-top: 16px; }
    .addCourse .content .addBtn {
      height: 38px;
      margin-top: 24px;
      float: right;
      background-color: #9C4AEE;
      border: none; }
      .addCourse .content .addBtn i {
        position: relative;
        top: -1px;
        font-size: 20px; }
  .addCourse .addTeacher {
    padding: 0 8px; }
    .addCourse .addTeacher h1 {
      font-weight: 500;
      font-size: 28px;
      color: #9C4AEE; }
    .addCourse .addTeacher input {
      height: 38px;
      font-size: 14px;
      border: none;
      background-color: #F9F2FF; }
      .addCourse .addTeacher input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9C4AEE;
        opacity: 1;
        /* Firefox */ }
    .addCourse .addTeacher i {
      color: #9C4AEE; }
    .addCourse .addTeacher p {
      margin-top: 18px;
      color: #9C4AEE;
      margin-left: 12px; }
  .addCourse .iconAdd svg path {
    fill: red; }

.sider {
  display: flex;
  background-color: white; }

.sider-left {
  padding-left: 50px;
  padding-top: 50px;
  width: 948px;
  height: 645px; }

.sider-right {
  display: inline;
  padding-top: 40px;
  margin-left: 65px;
  width: 240px;
  height: 695px;
  color: #9C4AEE;
  font-size: 180%; }

.sider-left .button-add {
  padding-left: 790px;
  color: #9C4AEE; }

.sider .sider-left .course-code {
  display: flex;
  padding-top: 30px; }
  .sider .sider-left .course-code .course-code-add {
    border-width: thin;
    border: solid 0.1px;
    padding-top: 30px; }
  .sider .sider-left .course-code .category {
    padding-left: 60px;
    width: 908px;
    height: 68px; }

.sider .sider-left .description .short {
  border-width: thin;
  border: solid 0.1px;
  padding-top: 30px; }

.sider .sider-left .description .full {
  border-width: thin;
  border: solid 0.1px; }

.sider .sider-left .skill {
  border-width: thin;
  border: solid 0.1px; }

.sider-right .search {
  border-width: thin;
  border: solid 0.1px;
  padding-top: 50px;
  width: 200px;
  height: 38px; }
