@import "../../utils/variables.scss";

.note-page {
  .note-page-name-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .note-page-name {
      color: $primary_yellow;
      font-family: Roboto;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.28px;
      margin: 0;
      padding-right: 20px;
    }

    .sync-icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-size: cover;
      background-image: url(assets/sync.png);
    }

    .btn-sync {
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }

  .note-wrap {
    margin-top: 54px;

    .note-type {
      color: #616161;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1.6px;
      line-height: 17px;
      text-transform: uppercase;
      margin-left: 13px;
    }
  }

  .note-folder {
    margin-top: 50px;

    .note-folder-title {
      display: flex;
      justify-content: start;
      align-items: center;
      border: none;

      p {
        color: #616161;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.6px;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-right: 10px;
      }
    }

    .folder-container {
      margin: 24px 0;

      .folder-note {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #adadad;
        background-color: #ffffff;
        padding: 0 10px;

        p {
          margin-bottom: 0;
          margin-left: 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #111111
        }
      }
    }

  }
}

.notification {
  position: fixed;
  left: 100px;
  top: 90vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.notification-show {
  position: fixed;
  left: 100px;
  top: 90vh;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.noti-content-error {
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: #fa9d9d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  p {
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

.noti-content-success {
  width: 250px;
  height: 50px;
  background-color: honeydew;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  p {
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

.icon-noti {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.accept-icon {
  background-image: url(assets/accept.svg);
}

.deny-icon {
  background-image: url(assets/deny.svg);
}

.folder-note-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(assets/note.svg);
}